[user]
	name = Keita Watanabe
	email = Nal3eCh@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[ghq]
	root = ~/github
[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(cyan)%cn %C(auto)%d %Creset%s'

